export PIR_ARCHES_RUNTIME_IMAGE='pir-arches-runtime'
export PIR_ARCHES_ASSETS_IMAGE='pir-arches-assets'
export PIR_ARCHES_RUNTIME_VERSION=v0.29
export GCP_PROJECT_ID_PIR=liquid-engine-192523
export FLAVORS="qa staging"
